/Ejercicios/Colecciones ej 1-2/Colecciones ej 1/build/
/Ejercicios/Colecciones ej 1-2/Colecciones ej 1/nbproject/private/
/Ejercicios/Colecciones ejercicio 03/nbproject/private/
/Ejercicios/Colecciones ejercicio 03/build/
/Ejercicio2_Guia8/build/
/Ejercicio2_Guia8/nbproject/private/
/Incompleto Ejercicio2_Guia8/build/
/Incompleto Ejercicio2_Guia8/nbproject/private/
/Ej 3 Coleeciones/build/
/Ej 3 Coleeciones/nbproject/private/
/Gonzi Ej 3 Coleeciones/build/
/Gonzi Ej 3 Coleeciones/nbproject/private/
/Ejercicios/Gonzi Ej 3 Coleeciones/build/
/Ejercicios/Gonzi Ej 3 Coleeciones/nbproject/private/
/Ejercicios/EjA03Colecciones/build/
/Ejercicios/EjA03Colecciones/nbproject/private/
/Ejercicios/Gonza EjA03Colecciones/build/
/Ejercicios/Gonza EjA03Colecciones/nbproject/private/
/Ejercicios/Ejercicio 04/nbproject/private/
/Ejercicios/Ejercicio 04/build/
/Ejercicios/Gonza Ej 03 Colecciones/nbproject/private/
/Ejercicios/Colecciones ej 1-2/Gonzi Colecciones ej 1/nbproject/private/
/Ejercicios/colecciones_ejercio_04v2/build/
/Ejercicios/colecciones_ejercio_04v2/nbproject/private/
/Ejercicios/Gonzi colecciones_ejercio_04v2/build/
/Ejercicios/Gonzi colecciones_ejercio_04v2/nbproject/private/
/Ejercicios/Ej 5 Colecciones/nbproject/private/
/Ejercicios/Gonzi Ej 5 Colecciones/nbproject/private/
/Ejercicios/Gonzi - Ej 5 Colecciones/nbproject/private/
/Ejercicios/Gonzi ejercio_04/nbproject/private/
/Ejercicios/Ejercicio 05/nbproject/private/
/Ejercicios/Ejercicio 05/build/
/Ejercicios/Nico Colecciones 05/nbproject/private/
/Ejercicios/Ejercicio 01 y 02/nbproject/private/
/Ejercicios/Ejercicio 01 y 02/build/
/Ejercicios/Ejercicio 03/nbproject/private/
/Ejercicios/Ejercicio 06/nbproject/private/
/Ejercicios/Ejercicio 06/build/
/Ejercicios/Ejercicio 03/build/
/Ejercicios/Extras ejercicio 01/nbproject/private/
/Ejercicios/Extras ejercicio 01/build/
/Ejercicios/Gonza 01 Extra/nbproject/private/
/Ejercicios/Gonza 02 Extras/nbproject/private/
/Ejercicios/Gonza 02 Extras/build/
/Ejercicios/Colecciones_extra_01/build/
/Ejercicios/Colecciones_extra_01/nbproject/private/
/Ejercicios/Nico Extra 01/build/
/Ejercicios/Nico Extra 01/nbproject/private/
/Ejercicios/Nico Extra1/nbproject/private/